body {
    margin: 0 auto;
    background-color: #444040;}


.cabecera {
    height: 6em;
    background-image: url(imagenes-cabecera/0.jpg) ;
    background-size: 100%;

}

.menu {
    height: 3em;
    position: sticky;
    top: 0;
    background-color: #130773;
    text-align: center;
    z-index: 3;
    margin-bottom: 10px;
}

div .a-buttons {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
  font-family: monospace; 
}

#inicio:hover{
background-color: rgb(182, 108, 211);
color: black;
opacity: .6;
}
#materiales:hover{
  background-color: rgb(82, 255, 47);
  color: black;
  opacity: .6;
  }
#codigos:hover{
    background-color: orange;
    color: black;
    opacity: .8;
}
#pasos:hover{
  background-color: red;
  color: black;
  opacity: .6;
}

.fotos-colaboracion {
  background-color: #21f0ab;
  color: black;
  padding: 2em;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}
.fotos-colaboracion:hover {
  border-radius: 30%;
}
#fotos-colaboracion1{
  background-image: url(imagenes-cabecera/arduino.png);
  background-size: 105%;
}
#fotos-colaboracion2{
  background-image: url(imagenes-cabecera/processing.png);
  background-size: 100%;
}
#fotos-colaboracion3{
  background-image: url(imagenes-cabecera/freenove.jpg);
  background-size: 100%;
}

#titulo  {width: 20em;
height: 4.5em;
position: absolute;
top: 0em;
display: inline-table;
}

.luz.on{
    color: #ff0000;
    text-shadow:
       1px  1px rgba(255, 255, 255, .1),
      -1px -1px rgba(0, 0, 0, .88),
       0px  0px 20px #ff0000;/*color de la luz del texto*/
  }
.luz{
    font-size: 3em;
    font-family: 'Asap Condensed', sans-serif;
    color: #1eff00;
    text-shadow:
       1px  1px rgba(255, 255, 255, .1),
      -1px -1px rgba(0, 0, 0, .88),
       0px  0px 20px #1eff00;/*color de la luz del texto*/
  }

#foto-car {width: 4.5em;
height: 4.5em;
position: relative;
display: inline-table;}

#logo {
    width: 12em;
}

#app-foto {
  height: 5em;
  float: right;
  margin-right: 10px;
  padding-top: 0.5em;
  display: inline-table;
  }
.cuerpo{
  width: 50%;
  height: auto;
  margin: 0 auto;
  box-shadow: 2px 2px 20px orange;
  background-color: #1d1b1b;
  border-radius: 10px;

}

/*@media only screen and (min-width: 300px) {
  .cuerpo{
    width: 99%;  }
}*/

.imagen-cuerpo{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.cuerpo-1{
  margin: 0 auto;
  margin-bottom: 1em;
  width: 90%;
  height: auto;
  background-color: #1d1b1b;
  border-radius: 10px;
  padding: 1em;
  color: white;
}

.bottom{
  background-color: #1d1b1b;
  margin: 0 auto;
  margin-top: 1em;
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  }
  .bottom > #S1{
  width: 10em;
  height: auto;
  font-size: 15px;
  text-align: left;
  color: white;
  padding: 2em;  
  padding-right: 4em;
  }
  .bottom > #S2{
  width: auto;
  height: auto;
  font-size: 15px;
  text-align: left;
  color: white;
  padding: 2em;
  }

.a-bottom{
  color: orange;
  word-wrap: break-word;
}
.a-bottom:hover{
  color: blue;
}


.boton-content{
  position: relative;
  margin: 0 auto;
  width: auto;
  height: auto;
  text-align: center;
  }

.boton-content:after  {
clear: both;   
display: inline-table;
content: "";
}


.click {
float: center;
padding: 10px;
position: relative;
width: 10em;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
border-radius: 10px;
}

.click:hover{
  opacity: .6;
}

#processing {background-color: #0e0b2c;
color: white}

#arduino{background-color: #00b698;}

#content {
margin-top: 10px;
width: 100%;
height: 500px;
border:  rgb(71, 0, 119);;
}

.body-tittle{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}
p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td{
  font-style: italic;
}

table{
  border: thin solid;
  padding: 1em;
  border-radius: 20px;
}

thead{
  text-align: left;
  font-size: 20px;
  font-style: italic;
}

.a-table{
  color: rgb(255, 244, 92);
}

.a-table:hover{
  color:white;
}
html {
  scroll-behavior: smooth;
} 