body {
    margin: 0 auto;
    background-color: #1d1b1b;
}


.cabecera {
    height: 6em;
    background-image: url(imagenes-cabecera/0.jpg) ;
    background-size: 100%;

}


.menu {
  height: 3em;
  position: sticky;
  top: 0;
  background-color: #130773;
  text-align: center;
  z-index: 3;
}

div .a-buttons {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
  font-family: monospace; 
}

#inicio:hover{
background-color: rgb(182, 108, 211);
color: black;
opacity: .6;
}
#materiales:hover{
  background-color: rgb(82, 255, 47);
  color: black;
  opacity: .6;
  }
#codigos:hover{
    background-color: orange;
    color: black;
    opacity: .8;
}
#pasos:hover{
  background-color: red;
  color: black;
  opacity: .6;
}

.fotos-colaboracion {
  padding: 2em;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}
.fotos-colaboracion:hover {
  border-radius: 30%;
}
#fotos-colaboracion1{
  background-image: url(imagenes-cabecera/arduino.png);
  background-size: 105%;
}
#fotos-colaboracion2{
  background-image: url(imagenes-cabecera/processing.png);
  background-size: 100%;
}
#fotos-colaboracion3{
  background-image: url(imagenes-cabecera/freenove.jpg);
  background-size: 100%;
}

#titulo  {
width: 20em;
height: 4.5em;
position: absolute;
top: 0em;
display: inline-table;
}

.luz.on{
    color: #ff0000;
    text-shadow:
       1px  1px rgba(255, 255, 255, .1),
      -1px -1px rgba(0, 0, 0, .88),
       0px  0px 20px #ff0000;/*color de la luz del texto*/
  }
.luz{
    font-size: 3em;
    font-family: 'Asap Condensed', sans-serif;
    color: #1eff00;
    text-shadow:
       1px  1px rgba(255, 255, 255, .1),
      -1px -1px rgba(0, 0, 0, .88),
       0px  0px 20px #1eff00;/*color de la luz del texto*/
  }

#foto-car {width: 4.5em;
height: 4.5em;
position: relative;
display: inline-table;}

#logo {
    width: 12em;
}

#app-foto {
height: 5em;
float: right;
margin-right: 10px;
padding-top: 0.5em;
display: inline-table;
}

.bottom {
  background-color: #1d1b1b;
  margin: 0 auto;
  width: auto;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: static;
  bottom: 0px;
  z-index: ;
  }

.bottom > #S1{
  width: 10em;
  height: auto;
  font-size: 15px;
  text-align: center;
  color: white;
  padding: 2em;  
}
.bottom > #S2{
  width: auto;
  height: auto;
  font-size: 15px;
  text-align: left;
  color: white;
  padding: 2em;
}
.bottom > #S3{
  width: 10em;
  height: auto;
  font-size: 15px;
  text-align: left;
  color: white;
  padding: 2em;
}


.a-bottom{
  color: #b649ff;
  word-wrap: break-word;

}
.a-bottom:hover{
  color: blue;
}


.cuerpo1{
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 1em;
  background-image: url(imagenes-cabecera/background-inicio.jpg);
  background-size: 100%;
  }
.cuerpo1-1{
  margin: 0 auto;
  margin-bottom: 1em;
  width: 50%;
  height: auto;
  background-color: #1d1b1b;
  box-shadow: 2px 2px 20px rgb(255, 254, 254);
  border-radius: 10px;
  padding: 1em;
  color: white;
  }
.LR-cuerpo{
  width: auto;
  height: auto;
  margin: 0 auto;
  display: inline-table;
  background-color: #0e0b2c ;
}
.cuerpo2{
  width: 50%;
  height: 100%;
  background-color: #0e0b2c;
  position: relative;
  left: 0px;
  color: white;
  padding: 1em;
  display: inline-table;

  }
#processing{
  width:50%;
  height: 100%;
}

.cuerpo3{
  width: 50%;
  height: 100%;
  background-color: #00b698;
  position: relative;
  right: 0px;
  padding: 1em;
  display: inline-table;

  }

.cuerpo4{
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 1em;
  background-image: url(imagenes-cabecera/background-inicio-2.jpg);
  background-size: 100%;
  }
.body-tittle{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}
p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
#dots{
  padding: 5px;
  background-color: #130773;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

