   <!-- <div id="S2">
      <p> <i>Page created by</i> <br> <br> Samuel Veiga<code> sveiga@elpuig.xeill.net</code> <br> & <br> Pol Bermejo <code>pbermejo@elpuig.xeill.net</code></p>
      <p>Enlaces de Interes:</p>
      <p>Gitlab : <a class="a-bottom" target="_blank" href="https://gitlab.com/sveiga/mp12_radar_car">https://gitlab.com/sveiga/mp12_radar_car</a><p>
      <p>Drive : <a class="a-bottom"  target="_blank" href="https://drive.google.com/drive/u/0/folders/18aC8gpKgDCI78XSf50Lrgfe3tf5Zd0xL">https://drive.google.com/drive/u/0/folders/18aC8gpKgDCI78XSf50Lrgfe3tf5Zd0xL</a></p>
      <p>Youtube : <a class="a-bottom" target="_blank" href="https://youtu.be/1i-IMc5PLis">https://youtu.be/1i-IMc5PLis</a></p>
    </div>
    <div id="S2">
      <p>Marcas:</p>
      <p>Arduino : <a class="a-bottom" target="_blank" href="https://www.arduino.cc/" >https://www.arduino.cc/</a><p>
      <p>Processing : <a class="a-bottom" target="_blank" href="https://processing.org/">https://processing.org/</a></p>
      <p>Freenove : <a class="a-bottom" target="_blank" href="http://www.freenove.com/">http://www.freenove.com/</a></p>
    </div>
    
