    <div id="foto-car"> <img id="logo" src="css/imagenes-cabecera/logo.png"></div>
    <div id="titulo"> <h1 class="luz" id="blink"> Radar - Car </h1></div>

    <div id="app-foto">
        <a class="fotos-colaboracion" id="fotos-colaboracion1" href="https://www.arduino.cc/" target="blank"></a>
        <a class="fotos-colaboracion" id="fotos-colaboracion2" href="https://processing.org/" target="blank"></a>
        <a class="fotos-colaboracion" id="fotos-colaboracion3" href="http://www.freenove.com/" target="blank"></a>
    </div>
