<link rel="stylesheet" href="style.css">

 <!-- HTML generated using hilite.me --><div class="code" style="background: #0f0d1b; overflow:auto;width:auto;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">  1
  2
  3
  4
  5
  6
  7
  8
  9
 10
 11
 12
 13
 14
 15
 16
 17
 18
 19
 20
 21
 22
 23
 24
 25
 26
 27
 28
 29
 30
 31
 32
 33
 34
 35
 36
 37
 38
 39
 40
 41
 42
 43
 44
 45
 46
 47
 48
 49
 50
 51
 52
 53
 54
 55
 56
 57
 58
 59
 60
 61
 62
 63
 64
 65
 66
 67
 68
 69
 70
 71
 72
 73
 74
 75
 76
 77
 78
 79
 80
 81
 82
 83
 84
 85
 86
 87
 88
 89
 90
 91
 92
 93
 94
 95
 96
 97
 98
 99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #6ab825; font-weight: bold">import</span> <span style="color: #d0d0d0">processing.serial.*;</span> 
<span style="color: #6ab825; font-weight: bold">import</span> <span style="color: #d0d0d0">java.awt.event.KeyEvent;</span>
<span style="color: #6ab825; font-weight: bold">import</span> <span style="color: #d0d0d0">java.io.IOException;</span>
<span style="color: #d0d0d0">Serial</span> <span style="color: #d0d0d0">myPort;</span> 

<span style="color: #24909d">String</span> <span style="color: #d0d0d0">angle=</span><span style="color: #ed9d13">&quot;&quot;</span><span style="color: #d0d0d0">;</span>
<span style="color: #24909d">String</span> <span style="color: #d0d0d0">distance=</span><span style="color: #ed9d13">&quot;&quot;</span><span style="color: #d0d0d0">;</span>
<span style="color: #24909d">String</span> <span style="color: #d0d0d0">data=</span><span style="color: #ed9d13">&quot;&quot;</span><span style="color: #d0d0d0">;</span>
<span style="color: #24909d">String</span> <span style="color: #d0d0d0">noObject;</span>
<span style="color: #6ab825; font-weight: bold">float</span> <span style="color: #d0d0d0">pixsDistance;</span>
<span style="color: #6ab825; font-weight: bold">int</span> <span style="color: #d0d0d0">iAngle,</span> <span style="color: #d0d0d0">iDistance;</span>
<span style="color: #6ab825; font-weight: bold">int</span> <span style="color: #d0d0d0">index1=</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">;</span>
<span style="color: #6ab825; font-weight: bold">int</span> <span style="color: #d0d0d0">index2=</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">;</span>
<span style="color: #d0d0d0">PFont</span> <span style="color: #d0d0d0">orcFont;</span>
<span style="color: #6ab825; font-weight: bold">void</span> <span style="color: #d0d0d0">setup()</span> <span style="color: #d0d0d0">{</span>
  
 <span style="color: #d0d0d0">size</span> <span style="color: #d0d0d0">(</span><span style="color: #3677a9">1200</span><span style="color: #d0d0d0">,</span> <span style="color: #3677a9">700</span><span style="color: #d0d0d0">);</span> 
 <span style="color: #d0d0d0">smooth();</span>
 <span style="color: #d0d0d0">myPort</span> <span style="color: #d0d0d0">=</span> <span style="color: #6ab825; font-weight: bold">new</span> <span style="color: #d0d0d0">Serial(</span><span style="color: #6ab825; font-weight: bold">this</span><span style="color: #d0d0d0">,</span><span style="color: #ed9d13">&quot;COM3&quot;</span><span style="color: #d0d0d0">,</span> <span style="color: #3677a9">9600</span><span style="color: #d0d0d0">);</span>
 <span style="color: #d0d0d0">myPort.bufferUntil(</span><span style="color: #ed9d13">&#39;.&#39;</span><span style="color: #d0d0d0">);</span>
<span style="color: #d0d0d0">}</span>
<span style="color: #6ab825; font-weight: bold">void</span> <span style="color: #d0d0d0">draw()</span> <span style="color: #d0d0d0">{</span>
  
  <span style="color: #d0d0d0">fill(</span><span style="color: #3677a9">98</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">245</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">31</span><span style="color: #d0d0d0">);</span>
  
  <span style="color: #d0d0d0">noStroke();</span>
  <span style="color: #d0d0d0">fill(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">4</span><span style="color: #d0d0d0">);</span> 
  <span style="color: #d0d0d0">rect(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span> <span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span> <span style="color: #d0d0d0">width,</span> <span style="color: #d0d0d0">height-height*</span><span style="color: #3677a9">0.065</span><span style="color: #d0d0d0">);</span> 
  
  <span style="color: #d0d0d0">fill(</span><span style="color: #3677a9">98</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">245</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">31</span><span style="color: #d0d0d0">);</span> 
  
  <span style="color: #d0d0d0">drawRadar();</span> 
  <span style="color: #d0d0d0">drawLine();</span>
  <span style="color: #d0d0d0">drawObject();</span>
  <span style="color: #d0d0d0">drawText();</span>
<span style="color: #d0d0d0">}</span>
<span style="color: #6ab825; font-weight: bold">void</span> <span style="color: #d0d0d0">serialEvent</span> <span style="color: #d0d0d0">(Serial</span> <span style="color: #d0d0d0">myPort)</span> <span style="color: #d0d0d0">{</span> 
  
  <span style="color: #d0d0d0">data</span> <span style="color: #d0d0d0">=</span> <span style="color: #d0d0d0">myPort.readStringUntil(</span><span style="color: #ed9d13">&#39;.&#39;</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">data</span> <span style="color: #d0d0d0">=</span> <span style="color: #d0d0d0">data.substring(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,data.length()-</span><span style="color: #3677a9">1</span><span style="color: #d0d0d0">);</span>
  
  <span style="color: #d0d0d0">index1</span> <span style="color: #d0d0d0">=</span> <span style="color: #d0d0d0">data.indexOf(</span><span style="color: #ed9d13">&quot;,&quot;</span><span style="color: #d0d0d0">);</span> 
  <span style="color: #d0d0d0">angle=</span> <span style="color: #d0d0d0">data.substring(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span> <span style="color: #d0d0d0">index1);</span> 
  <span style="color: #d0d0d0">distance=</span> <span style="color: #d0d0d0">data.substring(index1+</span><span style="color: #3677a9">1</span><span style="color: #d0d0d0">,</span> <span style="color: #d0d0d0">data.length());</span> 
  
  
  <span style="color: #d0d0d0">iAngle</span> <span style="color: #d0d0d0">=</span> <span style="color: #6ab825; font-weight: bold">int</span><span style="color: #d0d0d0">(angle);</span>
  <span style="color: #d0d0d0">iDistance</span> <span style="color: #d0d0d0">=</span> <span style="color: #6ab825; font-weight: bold">int</span><span style="color: #d0d0d0">(distance);</span>
<span style="color: #d0d0d0">}</span>
<span style="color: #6ab825; font-weight: bold">void</span> <span style="color: #d0d0d0">drawRadar()</span> <span style="color: #d0d0d0">{</span>
  <span style="color: #d0d0d0">pushMatrix();</span>
  <span style="color: #d0d0d0">translate(width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">,height-height*</span><span style="color: #3677a9">0.074</span><span style="color: #d0d0d0">);</span> 
  <span style="color: #d0d0d0">noFill();</span>
  <span style="color: #d0d0d0">strokeWeight(</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">stroke(</span><span style="color: #3677a9">98</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">245</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">31</span><span style="color: #d0d0d0">);</span>
  
  <span style="color: #d0d0d0">arc(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,(width-width*</span><span style="color: #3677a9">0.0625</span><span style="color: #d0d0d0">),(width-width*</span><span style="color: #3677a9">0.0625</span><span style="color: #d0d0d0">),PI,TWO_PI);</span>
  <span style="color: #d0d0d0">arc(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,(width-width*</span><span style="color: #3677a9">0.27</span><span style="color: #d0d0d0">),(width-width*</span><span style="color: #3677a9">0.27</span><span style="color: #d0d0d0">),PI,TWO_PI);</span>
  <span style="color: #d0d0d0">arc(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,(width-width*</span><span style="color: #3677a9">0.479</span><span style="color: #d0d0d0">),(width-width*</span><span style="color: #3677a9">0.479</span><span style="color: #d0d0d0">),PI,TWO_PI);</span>
  <span style="color: #d0d0d0">arc(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,(width-width*</span><span style="color: #3677a9">0.687</span><span style="color: #d0d0d0">),(width-width*</span><span style="color: #3677a9">0.687</span><span style="color: #d0d0d0">),PI,TWO_PI);</span>
  
  <span style="color: #d0d0d0">line(-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">line(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,(-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">)*cos(radians(</span><span style="color: #3677a9">30</span><span style="color: #d0d0d0">)),(-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">)*sin(radians(</span><span style="color: #3677a9">30</span><span style="color: #d0d0d0">)));</span>
  <span style="color: #d0d0d0">line(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,(-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">)*cos(radians(</span><span style="color: #3677a9">60</span><span style="color: #d0d0d0">)),(-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">)*sin(radians(</span><span style="color: #3677a9">60</span><span style="color: #d0d0d0">)));</span>
  <span style="color: #d0d0d0">line(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,(-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">)*cos(radians(</span><span style="color: #3677a9">90</span><span style="color: #d0d0d0">)),(-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">)*sin(radians(</span><span style="color: #3677a9">90</span><span style="color: #d0d0d0">)));</span>
  <span style="color: #d0d0d0">line(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,(-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">)*cos(radians(</span><span style="color: #3677a9">120</span><span style="color: #d0d0d0">)),(-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">)*sin(radians(</span><span style="color: #3677a9">120</span><span style="color: #d0d0d0">)));</span>
  <span style="color: #d0d0d0">line(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,(-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">)*cos(radians(</span><span style="color: #3677a9">150</span><span style="color: #d0d0d0">)),(-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">)*sin(radians(</span><span style="color: #3677a9">150</span><span style="color: #d0d0d0">)));</span>
  <span style="color: #d0d0d0">line((-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">)*cos(radians(</span><span style="color: #3677a9">30</span><span style="color: #d0d0d0">)),</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">popMatrix();</span>
<span style="color: #d0d0d0">}</span>
<span style="color: #6ab825; font-weight: bold">void</span> <span style="color: #d0d0d0">drawObject()</span> <span style="color: #d0d0d0">{</span>
  <span style="color: #d0d0d0">pushMatrix();</span>
  <span style="color: #d0d0d0">translate(width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">,height-height*</span><span style="color: #3677a9">0.074</span><span style="color: #d0d0d0">);</span> 
  <span style="color: #d0d0d0">strokeWeight(</span><span style="color: #3677a9">9</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">stroke(</span><span style="color: #3677a9">255</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">10</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">10</span><span style="color: #d0d0d0">);</span> 
  <span style="color: #d0d0d0">pixsDistance</span> <span style="color: #d0d0d0">=</span> <span style="color: #d0d0d0">iDistance*((height-height*</span><span style="color: #3677a9">0.1666</span><span style="color: #d0d0d0">)*</span><span style="color: #3677a9">0.025</span><span style="color: #d0d0d0">);</span> 
  
  <span style="color: #6ab825; font-weight: bold">if</span><span style="color: #d0d0d0">(iDistance&lt;</span><span style="color: #3677a9">40</span><span style="color: #d0d0d0">){</span>
    
  <span style="color: #d0d0d0">line(pixsDistance*cos(radians(iAngle)),-pixsDistance*sin(radians(iAngle)),(width-width*</span><span style="color: #3677a9">0.505</span><span style="color: #d0d0d0">)*cos(radians(iAngle)),-(width-width*</span><span style="color: #3677a9">0.505</span><span style="color: #d0d0d0">)*sin(radians(iAngle)));</span>
  <span style="color: #d0d0d0">}</span>
  <span style="color: #d0d0d0">popMatrix();</span>
<span style="color: #d0d0d0">}</span>
<span style="color: #6ab825; font-weight: bold">void</span> <span style="color: #d0d0d0">drawLine()</span> <span style="color: #d0d0d0">{</span>
  <span style="color: #d0d0d0">pushMatrix();</span>
  <span style="color: #d0d0d0">strokeWeight(</span><span style="color: #3677a9">9</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">stroke(</span><span style="color: #3677a9">30</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">250</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">60</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">translate(width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">,height-height*</span><span style="color: #3677a9">0.074</span><span style="color: #d0d0d0">);</span> 
  <span style="color: #d0d0d0">line(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,(height-height*</span><span style="color: #3677a9">0.12</span><span style="color: #d0d0d0">)*cos(radians(iAngle)),-(height-height*</span><span style="color: #3677a9">0.12</span><span style="color: #d0d0d0">)*sin(radians(iAngle)));</span> 
  <span style="color: #d0d0d0">popMatrix();</span>
<span style="color: #d0d0d0">}</span>
<span style="color: #6ab825; font-weight: bold">void</span> <span style="color: #d0d0d0">drawText()</span> <span style="color: #d0d0d0">{</span> 
  
  <span style="color: #d0d0d0">pushMatrix();</span>
  <span style="color: #6ab825; font-weight: bold">if</span><span style="color: #d0d0d0">(iDistance&gt;</span><span style="color: #3677a9">40</span><span style="color: #d0d0d0">)</span> <span style="color: #d0d0d0">{</span>
  <span style="color: #d0d0d0">noObject</span> <span style="color: #d0d0d0">=</span> <span style="color: #ed9d13">&quot;Out of Range&quot;</span><span style="color: #d0d0d0">;</span>
  <span style="color: #d0d0d0">}</span>
  <span style="color: #6ab825; font-weight: bold">else</span> <span style="color: #d0d0d0">{</span>
  <span style="color: #d0d0d0">noObject</span> <span style="color: #d0d0d0">=</span> <span style="color: #ed9d13">&quot;In Range&quot;</span><span style="color: #d0d0d0">;</span>
  <span style="color: #d0d0d0">}</span>
  <span style="color: #d0d0d0">fill(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">noStroke();</span>
  <span style="color: #d0d0d0">rect(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span> <span style="color: #d0d0d0">height-height*</span><span style="color: #3677a9">0.0648</span><span style="color: #d0d0d0">,</span> <span style="color: #d0d0d0">width,</span> <span style="color: #d0d0d0">height);</span>
  <span style="color: #d0d0d0">fill(</span><span style="color: #3677a9">98</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">245</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">31</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">textSize(</span><span style="color: #3677a9">25</span><span style="color: #d0d0d0">);</span>
  
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;10cm&quot;</span><span style="color: #d0d0d0">,width-width*</span><span style="color: #3677a9">0.3854</span><span style="color: #d0d0d0">,height-height*</span><span style="color: #3677a9">0.0833</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;20cm&quot;</span><span style="color: #d0d0d0">,width-width*</span><span style="color: #3677a9">0.281</span><span style="color: #d0d0d0">,height-height*</span><span style="color: #3677a9">0.0833</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;30cm&quot;</span><span style="color: #d0d0d0">,width-width*</span><span style="color: #3677a9">0.177</span><span style="color: #d0d0d0">,height-height*</span><span style="color: #3677a9">0.0833</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;40cm&quot;</span><span style="color: #d0d0d0">,width-width*</span><span style="color: #3677a9">0.0729</span><span style="color: #d0d0d0">,height-height*</span><span style="color: #3677a9">0.0833</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">textSize(</span><span style="color: #3677a9">40</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;Angle: &quot;</span> <span style="color: #d0d0d0">+</span> <span style="color: #d0d0d0">iAngle</span> <span style="color: #d0d0d0">+</span><span style="color: #ed9d13">&quot; °&quot;</span><span style="color: #d0d0d0">,</span> <span style="color: #d0d0d0">width-width*</span><span style="color: #3677a9">0.48</span><span style="color: #d0d0d0">,</span> <span style="color: #d0d0d0">height-height*</span><span style="color: #3677a9">0.0277</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;Distance: &quot;</span><span style="color: #d0d0d0">,</span> <span style="color: #d0d0d0">width-width*</span><span style="color: #3677a9">0.29</span><span style="color: #d0d0d0">,</span> <span style="color: #d0d0d0">height-height*</span><span style="color: #3677a9">0.0277</span><span style="color: #d0d0d0">);</span>
  <span style="color: #6ab825; font-weight: bold">if</span><span style="color: #d0d0d0">(iDistance&lt;</span><span style="color: #3677a9">40</span><span style="color: #d0d0d0">)</span> <span style="color: #d0d0d0">{</span>
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;        &quot;</span> <span style="color: #d0d0d0">+</span> <span style="color: #d0d0d0">iDistance</span> <span style="color: #d0d0d0">+</span><span style="color: #ed9d13">&quot; cm&quot;</span><span style="color: #d0d0d0">,</span> <span style="color: #d0d0d0">width-width*</span><span style="color: #3677a9">0.225</span><span style="color: #d0d0d0">,</span> <span style="color: #d0d0d0">height-height*</span><span style="color: #3677a9">0.0277</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">}</span>
  <span style="color: #d0d0d0">textSize(</span><span style="color: #3677a9">25</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">fill(</span><span style="color: #3677a9">98</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">245</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">60</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">translate((width-width*</span><span style="color: #3677a9">0.4994</span><span style="color: #d0d0d0">)+width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">*cos(radians(</span><span style="color: #3677a9">30</span><span style="color: #d0d0d0">)),(height-height*</span><span style="color: #3677a9">0.0907</span><span style="color: #d0d0d0">)-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">*sin(radians(</span><span style="color: #3677a9">30</span><span style="color: #d0d0d0">)));</span>
  <span style="color: #d0d0d0">rotate(-radians(-</span><span style="color: #3677a9">60</span><span style="color: #d0d0d0">));</span>
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;30°&quot;</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">resetMatrix();</span>
  <span style="color: #d0d0d0">translate((width-width*</span><span style="color: #3677a9">0.503</span><span style="color: #d0d0d0">)+width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">*cos(radians(</span><span style="color: #3677a9">60</span><span style="color: #d0d0d0">)),(height-height*</span><span style="color: #3677a9">0.0888</span><span style="color: #d0d0d0">)-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">*sin(radians(</span><span style="color: #3677a9">60</span><span style="color: #d0d0d0">)));</span>
  <span style="color: #d0d0d0">rotate(-radians(-</span><span style="color: #3677a9">30</span><span style="color: #d0d0d0">));</span>
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;60°&quot;</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">resetMatrix();</span>
  <span style="color: #d0d0d0">translate((width-width*</span><span style="color: #3677a9">0.507</span><span style="color: #d0d0d0">)+width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">*cos(radians(</span><span style="color: #3677a9">90</span><span style="color: #d0d0d0">)),(height-height*</span><span style="color: #3677a9">0.0833</span><span style="color: #d0d0d0">)-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">*sin(radians(</span><span style="color: #3677a9">90</span><span style="color: #d0d0d0">)));</span>
  <span style="color: #d0d0d0">rotate(radians(</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">));</span>
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;90°&quot;</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">resetMatrix();</span>
  <span style="color: #d0d0d0">translate(width-width*</span><span style="color: #3677a9">0.513</span><span style="color: #d0d0d0">+width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">*cos(radians(</span><span style="color: #3677a9">120</span><span style="color: #d0d0d0">)),(height-height*</span><span style="color: #3677a9">0.07129</span><span style="color: #d0d0d0">)-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">*sin(radians(</span><span style="color: #3677a9">120</span><span style="color: #d0d0d0">)));</span>
  <span style="color: #d0d0d0">rotate(radians(-</span><span style="color: #3677a9">30</span><span style="color: #d0d0d0">));</span>
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;120°&quot;</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">resetMatrix();</span>
  <span style="color: #d0d0d0">translate((width-width*</span><span style="color: #3677a9">0.5104</span><span style="color: #d0d0d0">)+width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">*cos(radians(</span><span style="color: #3677a9">150</span><span style="color: #d0d0d0">)),(height-height*</span><span style="color: #3677a9">0.0574</span><span style="color: #d0d0d0">)-width/</span><span style="color: #3677a9">2</span><span style="color: #d0d0d0">*sin(radians(</span><span style="color: #3677a9">150</span><span style="color: #d0d0d0">)));</span>
  <span style="color: #d0d0d0">rotate(radians(-</span><span style="color: #3677a9">60</span><span style="color: #d0d0d0">));</span>
  <span style="color: #d0d0d0">text(</span><span style="color: #ed9d13">&quot;150°&quot;</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">,</span><span style="color: #3677a9">0</span><span style="color: #d0d0d0">);</span>
  <span style="color: #d0d0d0">popMatrix();</span> 
<span style="color: #d0d0d0">}</span>
</pre></td></tr></table></div>
